@charset "UTF-8";
.body {
    min-height: 100%;
    height: 100%;
    font-family:monospace;
    font-weight:400;
}

.wrapper {
    width: 1024px;
    height: 750px;
    margin: 0px auto;
    background-image: url("white0023.png");
    background-color: cadetblue;
    background-size: cover;
}
.a {
    width: 100%;
    height: 20px;
}

.header {

    width: 100%;
    height: 130px;
    background-color: rgba(136, 136, 136, 0.5);
   


}

.paid-p {
     font-size: 60px;
     text-align: center;
     position: absolute;
     margin-top: 70px;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
     
}

.paid-p2 {
    font-size: 20px;
    letter-spacing: 0.25em;
    font-family:Verdana;
    width: 300px;
    height: 30px;
    text-align: center;
    margin: auto auto 10px auto;
}

.main {
    width: 100%;
    height: 100%;
}

.paid-table{
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.438);
    border-color: #ffffff;
    font-size: 18px;
    margin: auto;
    margin-top: 100px;
}

.paid-table tr {
    border-color: #ffffff;
}

.paid-table th {
    padding: 5px 15px;
    border: solid 1px #ffffff;
    width:  300px;              /* 幅指定 */
    height: 50px;               /* 高さ指定 */
    text-align:  center; 
}

.paid-table td {
    padding: 5px 15px;
    border: solid 1px #ffffff;
    width:  300px;              /* 幅指定 */
    height: 50px;               /* 高さ指定 */
    text-align:  right; 
    
}

.remain {
    font-size: 20px;
    margin: 0 150px 0 auto;
    width: 100px;
}

.return-button {
    float: right;
    height: 40px;
    width: 75px;
    margin-right: 60px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.438);
    border-color: #ffffff;
}