<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--Thymeleafを使用するために記述-->
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/attendance.css">
    </head>

<!--中身-->
    <body>
     <div id="wrapper"> 
        
                <!--ヘッダー-->
                <div class="header">
                    <h1>出勤報告</h1>
                </div>

                <!--user_Idの処理（ラベル）-->
                <div class="userID">
                    <text>ユーザーID</text><br>
                    <input type="text" name="myname"
                    placeholder="例）〇〇〇〇">
                </div>
<form th:action="@{/Attendance/create}"th:object="＄{AttendanceForm}"th:method="post">
                <!--ステータスの処理(プルダウン)-->
                <div class="status">
                    <label>ステータス</label><br>
                        <!--★-->
                        <select name="status">
                            <option value="attendance" selected>出勤</option>
                            <option value="behind">遅刻</option>
                            <option value="holiday">休日</option>
                            <option value="paid">有給</option>
                            <option value="lieu">代休</option>
                            <option value="othersholiday">休日（その他）</option>
                            <option value="others">その他</option>
                        </select>
                </div>

                <!--出勤日(カレンダー)-->
                <div class="start_date">
                    <label>出勤日</label><br>
                        <!--★-->
                        <input type="date" id="start_date">
                </div>

                <!--出勤時間(プルダウン？テキスト？)-->
                <div class="start_time">
                    <label>出勤時間</label><br>
                    <!--★-->
                    <input type="time" name="start_time" id="出勤時間">
                </div>

                <div class = "remarks">
                    <!--<label for="message">お問い合わせ内容</label><br>-->
                    <label>備考</label><br>
                    <input type="text" id="text" >
                    </div>

                <!--登録-->
                <div class = "register">
                    <input type="button" value="登録"   onclick="location.href='URL'" /><br>
                 </div>

                <!--戻る-->
                <div class ="return">
                <a th:href="@{/Mypage}">
                    <input type="button" value="戻る" onclick="location.href='URL'" /></a>
                </div>
      </form>
           </div>     
     </body>
</html>