<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="edit.css">

</head>

<body>
    <div class="wapper" >
    <div class="header"></div>

    <div align="right">
    <a href="#">ページトップへ戻る</a>
    </div>
    
    <body background="2F5C84906EC4423B9B40D862EFFD42E268D47EE4.png">
      </body>

        <h1>ユーザー新規登録</h1>

        <form action="#" method="post">
            
            <table>
                <tr>
                    <th>名前</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>カナ</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input name="mail" type="email"></td>
                </tr>
                <tr>
                    <th>PassWord</th>
                    <td><input name="password" type="password"></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <button class="favorite styled" type="button">削除</button>

                    <button class="favorite styled" type="button">編集</button>
                    </td>
                </tr>
            </table>
        </form>
</div>
</body>
</html>
