<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head > </head>
<title>経費一覧</title>
<link rel="stylesheet" href="css/expenceslist.css">
<body>
<h1>経費一覧</h1>
<!--  <form method="post" th:action="@{/confirm2}" th:object="${expencesListParam}"> -->
  <div class="container">
    <div class="float-end">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
         	 <th>ユーザーID</th>
        	  <th>申請日</th>
           	 <th>経費項目</th>
        	  <th>金額</th>
        	  <th>備考</th>
       	      <th></th>
        </tr>
      </thead>
    <tbody>
<!--        <tr th:each="expences :${expencesDataList}" th:object="${expences}" class="align-middle"> -->
          <tr th:each="expences :${expenceslist}" th:object="${expences}">
        	  <td th:text="*{userId}"></td>
        	  <td th:text="*{#dates.format(applicationDate, 'yyyy/MM/dd')}"></td>
<!--   	  <select>
					<option value="00"></option>
					<option th:each="prefectures : ${prefecturesList}"
						th:value="${prefectures.code}" th:text="${prefectures.name}"
						th:selected="${prefectures.code == selectedValue}"></option>
			</select> -->
 <!--  			<td th:each="prefectures : ${prefecturesList}" th:value="${prefectures.code}" th:text="${prefectures.name}"
		      th:selected="${prefectures.code == selectedValue}"> -->

        	  <td th:text="*{amountMoney}"></td>
         	  <td th:text="*{remarks}"></td>
     </tr>
      </tbody>
    </table>
  </div>
<!--  </form> -->
			    <a th:href="@{/Mypage}">
   				 <input type="submit" value="戻る" class="back"></a>
</body>
</html>
