<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>経費申請</title>
<link rel="stylesheet" href="/css/expences.css">
</head>
<body>
	<h1>経費申請</h1>
	<br />
	<form method="post" th:action="@{/confirm}" th:object="${expences}">
<!-- 		<div class="main1"> -->
			<div class="userId">
				ユーザID<br /> <input type="text" th:value="*{userId}"
					th:field="*{userId}" class="inputuserId">
			</div>
			<br />
			<div class="applicationDate">
				申請日<br /> <input type="date" th:value="*{applicationDate}"
					th:field="*{applicationDate}" class="inputapplicationDate">
			</div>
<!-- 		</div> -->
		<br />
<!-- 		<div class="main2"> -->
			<div class="expences-item-pulldown">
				<div class="expences-item">経費項目</div>
<!-- 				<select name="pref">
					<option value="Shomohin">消耗品</option>
					<option value="Shuzenhi">修繕費</option>
					<option value="Zappi">雑費</option>
				</select> --> <select>
					<option value="00"></option>
					<option th:each="prefectures : ${prefecturesList}"
						th:value="${prefectures.code}" th:text="${prefectures.name}"
						th:selected="${prefectures.code == selectedValue}"></option>
				</select>
			</div>
			<br />
			<div class="amountMoney">
				金額<br /> <input type="text" th:value="*{amountMoney}"
					th:field="*{amountMoney}" class="inputamountMoney">
			</div>
<!-- 		</div> -->
<!-- 		<div class="main3"> -->
				<div class="remarks">
				備考<br /> <input type="text" th:value="*{remarks}"
					th:field="*{remarks}" class="inputremarks">
				</div>
<!-- 		</div> -->
			<div class="application">
<!-- 			   <a th:href="@{/expenceslist}"> -->
<!-- 			<input type="submit" name="application" value="申請" class="application"> -->
				<input type="submit"  value="申請" class="application"><!-- </a> -->
			</div>
	</form>
			<div class="back">
			    <a th:href="@{/Mypage}">
<!-- 				<input type="submit" name="back" value="戻る" class="back"></a> -->
				<input type="submit" value="戻る" class="back"></a>
			</div>
</body>
</html>