<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '経費一覧', scripts = ~{::script}, links = ~{::link})"></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>経費一覧</title>
<link rel="stylesheet" href="css/expenceslist.css">
  <div class="container">
    <h1>経費一覧</h1>
    <div class="float-end">

    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>申請日</th>
          <th>経費項目</th>
          <th>金額</th>
          <th>備考</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="expences : ${expenceslist}" th:object="${expences}" class="align-middle">
<!--           <td th:text="*{userId}"></td> -->
          <td th:text="＄{userId}"></td>
          <td th:text="${#dates.format(expences.applicationDate, 'yyyy/MM/dd')}"></td>
<!-- プルダウンのタイムリーフ調査中 -->
<!--           <td th:text="*{amountMoney}"></td> -->
          <td th:text="${amountMoney}"></td>
<!--            <td th:text="*{remarks}"></td> -->
           <td th:text="${remarks}"></td>
          <td><input type="submit" value="戻る" class="back"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>