<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>経費申請</title>
<link rel="stylesheet" href="css/expences.css">
</head>
<body>
	<h1>経費申請</h1>
	<br />
<!-- 	<form method="post" th:action="@{/expenceslist}" th:object="${expencesListParam}"> -->
<!-- 	<form  th:action="@{/expenceslist}" th:object="${expencesForm}" method="POST"> -->
   <!-- <div th:if="${validationError}" th:each="error:${validationError}"></div> -->
	<form  th:action="@{/expences}" th:object="${expencesForm}" method="POST">
<!-- 	th:action="@{/expenceslist}"は経費申請ボタンを押したときに controllerのexpenceslist＠mappingが起動される -->
<!-- th:object="${expencesForm}" はfoamが追加される -->
<!-- 		<div class="main1"> -->
			<div class="userId">
				ユーザID<br /> <input type="text"
					th:field="*{userId}" class="inputuserId">
			</div>
			<br />
			 <div class="applicationDate">
				申請日<br /> <input type="date"
					th:field="*{applicationDate}" class="inputapplicationDate">
			</div>
		<br />
	<div class="expences-item-pulldown">
				<div class="expences-item">経費項目</div>
   	<select th:name="expencesItem">
<!--             <option value="00"></option> -->
            <option value="00"></option>
            <option
                th:each="prefectures : ${prefecturesList}"
                th:value="${prefectures.code}"
                th:text="${prefectures.name}"
                th:selected="${prefectures.code == selectedValue}">
            </option>
        </select>
					<!-- <input type="text" th:field="*{expencesItem}" > -->
	</div>
			<br />
			<div class="amountMoney">
				金額<br /> <input type="text"
					th:field="*{amountMoney}" class="inputamountMoney">
			</div>
				<div class="remarks">
				備考<br /> <input type="text"
					th:field="*{remarks}" class="inputremarks">
				</div>
			<div class="application">
				<input type="submit"  value="申請" class="application">
			</div>
	</form>
<!-- 		</div> -->
<!--  	<form th:action="@{/create}" method="post"> -->
  <!--    </form> -->
			<div class="back">
			    <a th:href="@{/Mypage}">
			    <input type="submit" value="戻る" class="back"></a>
			</div>
</body>
</html>