<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/kintai.css">
<title>'勤怠一覧'</title>
</head>
<body>
	<div class="wrapper">
		<div align="center">
			<h1>勤怠一覧</h1>
			<form> <a th:href="@{/attendance}"><!--  method="post" -->
                <input class="attendance-button" name="attendance-button" value="出勤報告" type="button"></a>
            </form>
			<table colspan="2" border="1">
				<tr class="back-color">
					<td nowrap>ID</td>
					<td nowrap>ユーザー番号</td>
					<td nowrap>ステータス</td>
					<td nowrap>出勤日</td>
					<td nowrap>出勤時間</td>
					<td nowrap>退勤日</td>
					<td nowrap>退勤時間</td>
					<td nowrap>休憩時間</td>
					<td nowrap>備考</td>
					<td></td>
				</tr>
				<tr	th:each="kintailist : ${kintailist}">
					<td th:text="${kintailist.attendance_id}"></td>
					<td th:text="${kintailist.user_id}"></td>
					<td th:text="${kintailist.status}"></td>
					<td th:text="${#dates.format(kintailist.start_date,'yyyy/MM/dd')}"></td>
					<td th:text="${kintailist.start_time}"></td>
					<td th:text="${#dates.format(kintailist.end_date,'yyyy/MM/dd')}"></td>
					<td th:text="${kintailist.end_time}"></td>
					<td th:text="${kintailist.break_time}"></td>
					<td th:text="${kintailist.remarks}"></td>
					<td><a th:href="@{/leaving/{attendance_id}(attendance_id=${kintailist.attendance_id})}">退勤報告</a></td>
			</table>
					<form>
			<a th:href="@{/mypage}"> <!-- method="post" --> <input
				name="editbutton"
				class="editbutton" type="button"
				value="戻る">
			</a>
		</form>
		</div>
	</div>
</body>
</html>