<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
 <title>ログイン画面</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/login.css">
<body>
<form th:action="@{/sign_in}" method="post" name="login_form">
<div th:if="${param.logout}">
            ログイン失敗しました。
    </div>
    <div th:if="${param.error}">
            名前またはパスワードが違います。
    </div>
    <div class="login_form_top">
    <h1>LOGIN</h1>
    </div>
    <div class="login_form_btm">
    <input type="text" name="username"  placeholder="UserID">
    <input type="password" name="password" placeholder="Password">
    <button formaction="/sign_in"> LOGIN</button> 
    <button id="newaccoun"> 新規アカウント作成</button> 
      </div>
    </form>
    </body>
</html>