<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Newuser.css">

</head>

<body background="white0023.jpg">
    <div class="wapper" ></div>
    <div class="header"></div>

    <div align="right">
     <form><a th:href="@{/edit}"> <!-- method="post" -->
              	<input name="editbutton" class="editbutton userbutton-shadow userbutton-circle" type="button" value="戻る">
               </a></form>
    </div>
    
    
    
        <h1>ユーザー新規登録</h1>
                
            
            <table>
            
                <tr>
                    <th>Name</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>カナ</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td><input name="mail" type="email"></td>
                </tr>
                <tr>
                    <th>PassWord</th>
                    <td><input name="password" type="password"></td>
                </tr>
                
                <tr>
                    <td colspan="2">
                  <div align="right">
                  <a th:href="@{/Mypage}">
                  <input type="submit" name="back" value="登録します" class="back"></a>
                  </div>
       
                    </td>
                </tr>
            </table>
        

</body>
</html>