<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Newuser.css">

</head>

<body background="2F5C84906EC4423B9B40D862EFFD42E268D47EE4.png">
    <div class="wapper" ></div>
    <div class="header"></div>

    <div align="right">
    <button type="button" onclick="history.back()">戻る</button>
    </div>
    
        <h1>ユーザー新規登録</h1>

        <form action="#" method="post">
            
            <table>
                <tr>
                    <th>Name</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>カナ</th>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td><input name="mail" type="email"></td>
                </tr>
                <tr>
                    <th>PassWord</th>
                    <td><input name="password" type="password"></td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <div align="right">
                        <input type="button" value="登録します"></div>
                    </td>
                </tr>
            </table>
        </form>

</body>
</html>