<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>有休一覧</title>
<link rel="stylesheet" href="/css/Paid.css"></head>

<body>

    <div class="wrapper">
        <div class="a"></div>
        <div class="header">

            <p class="paid-p">有休一覧</p>
            <p class="paid-p2">paid holiday list</p>
            

        </div>        

        <div class="main">

            <table class="paid-table">
                <tbody>
                  <tr>
                    <th>有給休暇</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>誕生日休暇</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>記念日休暇</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>特別休暇</th>
                    <td></td>
                  </tr>
              </tbody>
     
             </table>

             <p class="remain">残 （日）</p>
             
  <form> <a th:href="@{/Mypage}"><!-- method="post"> -->
             <input class="return-button" name="return-button" value="戻る" type="button"></a>
	</form>
	
        </div>

    </div>
</body>