.wrapper {
	margin: 0 auto;
	width: 100%
}

body {
	background-image: url("white0023.jpg");
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 100vh;
}

h1 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.back {
	border-radius: 30px;
	width: 100px;
	height: 50px;
}

.form-label-group2 {
	padding-left: 190px;
}